/* Style des cartes pour les avis */
.card {
    background-color: #FAF4ED;
    border: 2px solid #492200;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}
h5 {
    color: #492200 !important;
    font-size: 2rem;
    font-weight: bold;
    
}
.card-body {
    min-height:rem ;
}
#presentation-text {
    width: 100%;
}



@media (min-width: 1200px) { /* Pour les écrans larges */
    #presentation-text {
        width: 75%;
    }
}
