.card:hover {
    transform: translateY(-5px);
}
h5 {
    color: #492200 !important;
    font-size: 2rem;
    font-weight: bold;
    
}
.card-body {
    min-height:rem ;
}
#presentation-text {
    width: 100%;
}



@media (min-width: 1200px) { /* Pour les écrans larges */
    #presentation-text {
        width: 75%;
    }
}
