/* couleurs des sessions */
.colorSection {
  background-color: #FAF4ED;
}

/* design BANNER */
.banner {
  background: rgb(248, 185, 65);
  background: linear-gradient(90deg, rgba(248, 185, 65, 1) 0%, rgba(146, 109, 38, 1) 100%);
  max-height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #492200;
  font-size: 2.5rem;
  font-family: "Risque";
}

/* couleurs de la police et front */
h2 {
  font-family: "risque";
  font-size: 2rem;
  color: #F8B941;
  -webkit-text-stroke: 1px #492200;
  text-align: center;
}

p {
  font-family: "roboto";
  font-size: 1rem;
  color: #492200;
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
}

h3 {
  font-family: "risque";
  font-size: 1.5rem;
  color: #492200;
  text-align: center;
}

.card-title {
  font-family: "risque";
  font-size: 1.2rem;
  color: #492200;
}

/* design des boutons */
.button {
  background-color: #492200;
  color: #F8B941;
  border: none;
  box-shadow: 5px 2px 10px #F8B941;
  border-radius: 10px;
  padding: 8px;
}

/* design des boutons de menu du bas */
.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 9rem;
  border: 0.125rem solid #492200;
  border-radius: 6rem;
  background-color: #FAF4ED;
  text-align: center;
  padding: 20px;
}

/* Boutons de navigation pour le carrousel d'images */
.carousel-images .btn-prev,
.carousel-images .btn-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.carousel-images .btn-prev {
  left: 10px;
}

.carousel-images .btn-next {
  right: 10px;
}

.carousel-images .carousel-control-prev-icon,
.carousel-images .carousel-control-next-icon {
  background-color: #492200;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  opacity :0.5;
}
.carousel-control-prev-icon:hover {
  opacity: 1;
}
.carousel-control-next-icon:hover  {
  opacity: 1;
}
/* Centrage des images dans le carrousel */
.carousel-images .carousel-item {
  text-align: center;
}

/* Carousel des avis */
.avis {
  margin: 4.3rem auto;
  width: 90vw;
  height: 100%; /* Ajuste la hauteur pour le carousel des avis */
  position: relative;
}

.card {
  height: 23rem;
  border: 2px solid #492200;
  background-color: #FAF4ED;
}

.card-body h5, p {
  font-family: roboto, serif;
}

.card-body p {
  font-size: 1rem;
}

/* Boutons de navigation pour le carrousel des avis */

.carousel-avis .btn-prev {
  left: 10px;
}

.carousel-avis .btn-next {
  right: 10px;
}

.carousel-avis .carousel-control-prev-icon,
.carousel-avis .carousel-control-next-icon {
  background-color: #492200;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

/* Centrage des images dans le carrousel */
.carousel-images .carousel-item {
  text-align: center;
}

/* Cibler uniquement la scrollbar dans la div overflow-auto */
.overflow-auto::-webkit-scrollbar {
  width: 12px; /* Largeur de la scrollbar */
}

.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #492200;
  border-radius: 10px;
  border: 3px solid #fff;
}

.overflow-auto::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* espace et retour à la ligne des boutons de menu du bas */
.custom-gap {
  gap: 4rem;
  flex-wrap: wrap;
}

/* formulaire avis */
.form-container {
  border: 2px solid #492200;
  border-radius: 10px;
  background-color: #FAF4ED;
  max-width: 22rem;
  min-width: 15rem;
}

.form-control {
  font-family: "Roboto", sans-serif;
}

.form-label {
  font-family: "Roboto", sans-serif!important;
  color: #492200!important;
  text-align: center!important;
}

/* Animation de séparation */
.jaguar {
  width: 4rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  animation: moveRight 5s linear infinite;
  background-color: #FAF4ED;
}

@keyframes moveRight {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.jaguar-container {
  position: relative;
  height: 5rem;
  margin-top: 20px;
}
