/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* typos générales */
body, h1, h2, h3, h4, h5,  p, a, li {
    font-family: "Roboto", sans-serif;
    color: #492200;
    text-align: center;
}

/* titres géneraux */
h1, h2, h3 {
    font-family: "Risque", cursive;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    color: #F8B941;
    -webkit-text-stroke: 1px #492200;
}

h3 {
    font-size: 1.5rem;
    color: #492200;
}
h5 {
    font-size: 1.25rem;
    color: #492200;
}

/* Fond de chaque section */
.colorSection {
    background-color: #FAF4ED;
    padding: 2rem;
}
  
  /* Espacement pour séparer les sections */
  .space {
    height: 2rem;
  }
  .separator {
    width: 100%;
    height: 3rem;
    background-color: white;
  }
/*formulaire et tableaux */
.avi{
    border:solid 2px #492200;
    background-color: #FAF4ED;
}

form {
    background-color: #FAF4ED;
    border: 2px solid #492200;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 30rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Labels et Inputs */
label {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #492200;
    display: block;
    margin-bottom: 0.5rem;
}

input, select {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #492200;
    border: 2px solid #492200;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: white;
}
.input-group-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px; 
    width: 40px; 
    padding: 0;
    background-color: #fff; 
    border: none;
    border:1px solid rgba(0, 0, 0, 0.1);
}

/* Styles des boutons */
.button, .btn {
    background-color: #492200;
    color: #F8B941;
    border: 2px solid #F8B941;
    box-shadow: 5px 2px 10px #F8B941;
    border-radius: 10px;
    padding: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover, .btn:hover {
    background-color: #F8B941;
    color: #492200;
    border: 2px solid #492200;
    box-shadow: 5px 2px 10px #492200;
}
/* BOUTONS GÉNÉRAUX */
.btn, .button {
    background-color: #492200;
    color: #F8B941;
    border: 2px solid #F8B941;
    box-shadow: 5px 2px 10px #F8B941;
    border-radius: 10px;
    padding: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover, .button:hover {
    background-color: #F8B941;
    color: #492200;
    border: 2px solid #492200;
    box-shadow: 5px 2px 10px #492200;
}
.success{
    background-color:#7AA95C ;
    color: white;
    border: solid 2px #492200;
    box-shadow: 5px 2px 10px #7aa80b;
    border-radius: 10px;
    padding: 10px;
    width: 5rem;
    
}
.danger{
    background-color:#9e2f07 ;
    color: white;
    border: solid 2px #492200;
    box-shadow: 5px 2px 10px #621e05;
    border-radius: 10px;
    padding: 10px;
    width: 6rem;
    
}
.warning{
    background-color:rgb(146, 109, 38)!important ;
    color: white;
    border: solid 2px #492200;
    box-shadow: 5px 2px 10px #b47705;
    border-radius: 10px;
    padding: 10px;
    width: 6rem;  
}

/* design des bouton de menu du bas*/
.circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem; 
    height: 9rem;
    border: 0.3rem solid rgba(155,101,7,1);
    border-radius:6rem;
    background-color: #FAF4ED;
    text-align: center;
    padding: 20px;
  
  }
  

/*oeil de mot de passe*/
.togglePasswordIcon {
    font-size: 1.2rem;
}

/* Styles de la barre de navigation */
.navbar {
    background: linear-gradient(90deg, rgba(155,101,7,1) 0%, rgba(53,35,2,1) 100%);
    padding: 1rem;
}

.navbar-toggler-icon {
    color: #FAF4ED;
    background-color: #F8B941;
    border-radius: 5px;
}

.logo {
    width: 5rem;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 100%;
    border: solid 5px #F8B941;
}

.navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
}

.navbar-nav .nav-link {
    color: #FAF4ED;
    padding: 0.75rem 0;
    font-size: 1rem; 
    font-family: "Risque";
    transition: color 0.2s ease-in;
}

.navbar-nav .nav-link:hover {
    color: #F8B941;
}


/* Styles pour la bannière */
.banner {
    background: linear-gradient(90deg, rgba(248, 185, 65, 1) 0%, rgba(146, 109, 38, 1) 100%);
    max-height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #492200;
    font-size: 2.5rem;
    font-family: "Risque", cursive;
}

/* Styles du formulaire */
.form-container {
    background-color: #FAF4ED;
    border: 2px solid #492200;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 2rem auto;
    max-width: 30rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
    border-color: #492200; /* Change la couleur de la bordure au survol (hover) */
    box-shadow: 0 0 5px rgba(61, 42, 0, 0.5); /* Ajoute un effet d'ombre */
    outline: none; /* Supprime le contour par défaut */
}
   

/* Cible l'élément select pour définir une couleur de fond de base */
select {
    background-color: #49220075; /* Couleur de fond du champ select */
    color: #FAF4ED; /* Couleur du texte dans le champ select */
}

/* Centrer le texte dans toutes les cellules du tableau */
table {
    width: 100%; /* Ajuste le tableau pour occuper toute la largeur */
    border-collapse: collapse; /* Supprime les espaces entre les cellules */
}


table th {
    background-color: rgba(155,101,7,1) !important; /* Couleur de fond pour les en-têtes */
    font-weight: bold; /* Met le texte des en-têtes en gras */
    color: #ffffff !important;
}
th, td{
    text-align: center;
    vertical-align: middle;
    color: #492200 !important;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.dataTables_filter {
    text-align: center; /* Centre le bloc de recherche */
    margin-bottom: 20px; /* Ajoute un espacement sous la barre de recherche */
}

.dataTables_filter label {
    width: 100%;
    display: flex;
    justify-content: center; /* Centre le label */
}

.dataTables_filter input {
    display: inline-block;
    width: auto; /* Ajuste la largeur du champ de recherche */
}
.dataTables_length select {
    background-color: #FFFFFF; /* Couleur de fond blanche */
    color: #492200; /* Couleur du texte visible */
}
/* Carrousel des images */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #492200;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.8;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #F8B941;
    opacity: 1;
}


.carousel .img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 50rem;
    max-height: 38rem; 
    border-radius: 10px;
    
}
.description {
    max-width: 50rem;
    margin:auto;
  }
/* Ajustement des autres images pour qu'elles soient responsives et uniformes */
.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 30rem; 
    max-height: 30rem; 
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}
.img-fluid3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 85rem;
    max-height: 60rem;
    clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);

   
}
.img-fluid4{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card {
    height: 100%; /* Assurez-vous que la carte prend toute la hauteur */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Assure que le contenu de la carte est distribué uniformément */
  }
  
  .card-img-top {
    flex-grow: 1; /* L'image prend tout l'espace vertical disponible */
    width: 100%;
    height: 400px; /* Fixe une hauteur uniforme pour toutes les images */
    object-fit: cover; /* S'assure que l'image remplit la zone sans déformation */
    border-top-left-radius: 10px; /* Arrondit les coins supérieurs de l'image */
    border-top-right-radius: 10px; /* Arrondit les coins supérieurs de l'image */
  }
  
  
  .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre le texte verticalement dans la carte */
  }
/* responsive iframe */

.iframe-container {
    width: 100%;
    height: 19rem;
    margin: 0 auto;
}

.responsive-iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Footer styles */
footer {
    width: 100%;
    background: linear-gradient(90deg, rgba(155,101,7,1) 0%, rgba(53,35,2,1) 100%);
    padding: 1.5rem 0;
    color: #FAF4ED;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    margin-bottom: 0.75rem;
}

.second-line {
    text-align: center;
    font-size: 0.85rem;
}

.footer .logo {
    width: 5rem;
    height: auto;
    border-radius: 100%;
    border: solid 0.25rem #F8B941;
}

.fab {
    font-size: 1.5rem;
    color: #FAF4ED;
}

/* Animation du jaguar */
.jaguar {
    width: 4rem;
    height: 3rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    animation: moveRight 5s linear infinite;
}

@keyframes moveRight {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

/* Jaguar container */
.jaguar-container {
    position: relative;
    height: 5rem;
    margin-top: 20px;
    background-color: white;
}


  /* Ajustements pour les écrans plus grands */
@media (min-width: 768px) {
 

    .banner {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem; 
    }

    p {
        font-size: 1.125rem;
    }

    .navbar-nav .nav-item {
        margin: 0 1.5rem; 
    }

    .navbar-nav .nav-link {
        font-size: 1.2rem; 
    }
    .iframe-container {
        width: 80%; /* Ajuste à 80% pour tablette */
        height: 400px;
    }
}
/* Pour les écrans inférieurs ou égaux à 768px */
@media (max-width: 768px) {
    .jaguar {
        width: 30%!important;
        height: auto !important;
        margin: 0 auto !important; 
        position: static !important; 
        transform: none !important;
        animation: none !important; 
    }

    .jaguar-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 6rem;
        background-color: white !important;
        margin: 0!important;
    }
}



@media (min-width: 992px) {
    .navbar-nav .nav-link {
        font-size: 1.4rem; 
    }

    .iframe-container {
        width: 60%; /* Ajuste à 60% pour desktop */
        height: 500px;
    }
}