/* Fond de chaque section spécifique aux pages Habitats */
.colorSection {
  background-color: #FAF4ED;
  padding: 2rem;
}

/* Espacement pour séparer les sections */
.space {
  height: 2rem;
}

/* photo plus grande */
.img-fluid3 {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 600px; /* Largeur maximale pour les autres images */
    max-height: 600px; 
}