/* Style du tableau */


th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Couleur de la première ligne (en-tête) */
th {
    background-color: #f2f2f2;
    color: #333;
}

/* Couleur des lignes paires */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Couleur des lignes impaires */
tr:nth-child(odd) {
    background-color: #eaeaea;
}
